<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f15166f48d.js" crossorigin="anonymous"></script>    

    <link rel="stylesheet" href="stylesheets/style.css">
    <title>DOT GAME</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><button id="reset">Reset</button></li>
            <li><button id="play-again">Play Again</button></li>
            <li><button id="setting"><i class="fas fa-cog"></i></button></li>
        </ul>
    </div>
    <div class="container">
        <h1>DOT GAME</h1>
        <div class="player-container">
            <div class="player1" id="player1">
                <h3 class="name">Player1</h3>
                <span class="score">0</span>
            </div>
            <div class="player2" id="player2">
                <h3 class="name">Player2</h3>
                <span class="score">0</span>
            </div>
        </div>
    </div>
    
    <div class="popup-container" id="popup-container">
        <div class="popup">
            <h2 id="final-message"></h2>
            <button id="play-again1">Play Again</button>
        </div>
    </div>

    <div class="popup-setting" id="popup-setting">
        <div class="container">
            <button class="cancel" id = "cancel"><i class="fas fa-times"></i></button>
            <form action="" id="form" class="form">
                <h2>Settings</h2>
                <div class="form-control">
                    <label for="player1">Player1</label>
                    <input type="text" id="player1N" value="Player1">
                </div>
                <div class="form-control">
                    <label for="player2">Player2</label>
                    <input type="text" id="player2N" value="Player2">
                </div>
                <div class="form-control fs">
                    <label for="size">Size</label>
                    <select name="size" id="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="Large">Large</option>
                    </select>
                </div>
                <button>Done</button>
            </form>
        </div>
    </div>
    
    <canvas id="myCanvas" width="540" height="540"></canvas>

    <script src="js/script.js"></script>
</body>
</html>