@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
    --color-1: #025159;
    --color-2: #03A696;
    --color-3: #F28705;
    --color-4: #F25D27;
    --color-5: rgb(242, 5, 5);

}



*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-size:10px;
    font-family: 'Pacifico', cursive;
    color:white;
}


html{
    width:100%;
    height:100%;
}



body{
    height:100%;
    background-image : linear-gradient(to bottom,var(--color-4),var(--color-3));
    background-repeat:  no-repeat;
    background-size: cover;
}

#myCanvas{
    background-image : linear-gradient(to bottom right,var(--color-1),var(--color-2));
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.4);
    display:block;
    margin:3rem auto;
    border-radius: 1rem;
}


.container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    margin-bottom:0;
}

.container h1{
    font-size:5rem;
}

